RewriteEngine On
RewriteRule ^$ pages/home.php [L]
RewriteRule ^home$ pages/home.php [L]
RewriteRule ^login$ pages/login.php [L]

RewriteRule ^category/([a-zA-Z0-9-_]+)$ pages/search.php?category=$1 [L]
RewriteRule ^product/([a-zA-Z0-9-_]+)$ pages/product.php?id=$1 [L]